<div class="container">
  <div class="row blank_space"> </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
          <%= render 'services/partials/new_quote_service', {quote: @quote, city_services: @city_services } %>
      </div>
    </div>
  </div>

  <div class="row blank_space" style="margin-top:40px"> </div>

  <div class="row blank_space"> </div>
</div>
