<div class="container">
  <div class="row">
    <%= link_to "crea una nueva cotizacion:", quotes_path  %>
  </div>

  <div class="row">
    <%= link_to "ver ciudades:", cities_path %>
  </div>
</div>
