<div class="container">
  <div class="row blank_space"> </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
          <%= render 'tours/partials/new_tour_service', {city: @city, categories: @categories } %>
      </div>
    </div>
  </div>

  <div class="row blank_space" style="margin-top:40px"> </div>

  <div class="row blank_space"> </div>
</div>
