<div class="container">
  <div class="row">
    <h1> Escoge una ciudad:</h1>

    <% @cities.each do |city| %>
        <ul>
          <li> <a href="/quotes/1/cities/1"> <%= city.name %> </a> </li>
          <li> <a href="/cities/1"> <%= @qoute %> </a> </li>
        </ul>
    <% end %>
  </div>
</div>
