<div class="container">
  <div class="row blank_space"> </div>

  <div class="row">
    <div class="col-md-4">
      <h1> <%= City.find(@city).name %></h1>
      <p>  summary data </p>
    </div>
  </div>

  <div class="row blank_space"> </div>

  <div class="row">
    <%= link_to "crea una nueva actividad:", new_city_activity_path(@city) %>
  </div>
  <div class="row blank_space"> </div>

  <div class="row">
    <div class="col-md-12" style="border: red">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">actividad</th>
            <th>detalles </th>
            <th>actualizar precio</th>
            <th>borrar actividad</th>
          </tr>
        </thead>
        <tbody>
          <% City.find(@city).activities.where(quote_id: nil).each do |activity| %>
            <tr>
              <td>  <%= activity.name %> </td>
              <td>  ver mas </td>
              <td>  yes </td>
              <td>  no </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row blank_space"> </div>

  <div class="row">
    <%= link_to "volver a ver todas las ciudades", cities_path %>
  </div>
</div>
